    /*
    Flaticon icon font: Flaticon
    Creation date: 06/05/2019 08:26
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mine:before { content: "\f100"; }
.flaticon-work:before { content: "\f101"; }
.flaticon-head:before { content: "\f102"; }
.flaticon-equal:before { content: "\f103"; }
.flaticon-familiar:before { content: "\f104"; }
.flaticon-embassy:before { content: "\f105"; }
    
    $font-Flaticon-mine: "\f100";
    $font-Flaticon-work: "\f101";
    $font-Flaticon-head: "\f102";
    $font-Flaticon-equal: "\f103";
    $font-Flaticon-familiar: "\f104";
    $font-Flaticon-embassy: "\f105";