	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/05/2019 08:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 50px;
}

.flaticon-mine:before { content: "\f100"; }
.flaticon-work:before { content: "\f101"; }
.flaticon-head:before { content: "\f102"; }
.flaticon-equal:before { content: "\f103"; }
.flaticon-familiar:before { content: "\f104"; }
.flaticon-embassy:before { content: "\f105"; }